@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#292f3f), to(#414345));
  background: linear-gradient(90deg, #292f3f 0%, #414345 100%);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 64rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.0625rem 1.5rem;
  border-radius: 16px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.35;
  color: #fff;
  text-align: center;
  background-color: rgba(27, 27, 27, 0.5);
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.button:hover {
  background: rgba(27, 27, 27, 0.3);
}

.button._fw {
  width: 100%;
}

.button-action {
  max-width: 30.5rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 1.0625rem 2.375rem;
}

.button__viewpass {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.5625rem;
  right: 1rem;
  background: url("../img/icons/hide.svg") no-repeat;
  -webkit-transition: -webkit-filter 0.3s ease 0s;
  transition: -webkit-filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
}

.button__viewpass._viewpass-active {
  background: url("../img/icons/visi.svg") no-repeat;
}

.button__viewpass:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 1.5rem 1.5625rem;
  line-height: 1.5;
  border-radius: 20px;
  background: hsla(224, 13%, 23%, 0.3);
  border: 1px solid hsla(222, 8%, 34%, 0.3);
  color: #fff;
  -webkit-transition: background 0.3s ease 0s, border 0.3s ease 0s;
  transition: background 0.3s ease 0s, border 0.3s ease 0s;
}

.input::-webkit-input-placeholder {
  max-width: 13.75rem;
  color: #6d707a;
  white-space: pre-wrap;
}

.input::-moz-placeholder {
  max-width: 13.75rem;
  color: #6d707a;
  white-space: pre-wrap;
}

.input:-ms-input-placeholder {
  max-width: 13.75rem;
  color: #6d707a;
  white-space: pre-wrap;
}

.input::-ms-input-placeholder {
  max-width: 13.75rem;
  color: #6d707a;
  white-space: pre-wrap;
}

.input::placeholder {
  max-width: 13.75rem;
  color: #6d707a;
  white-space: pre-wrap;
}

.input:hover,
.input._form-focus {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.input-popup {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.input-popup::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.input-popup::-moz-placeholder {
  color: #fff;
  font-weight: 300;
}

.input-popup:-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.input-popup::-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.input-popup::placeholder {
  color: #fff;
  font-weight: 300;
}

.input-popup:hover,
.input-popup._form-focus {
  background: hsla(224, 13%, 23%, 0.3);
  border: 1px solid hsla(222, 8%, 34%, 0.3);
}

.input__viewpass {
  position: relative;
}

.input__viewpass::before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  right: 0;
  bottom: 0;
  background-color: #6d707a;
}

.form__error {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8125rem;
  line-height: 1.8461538462;
  color: #ed4756;
  -webkit-transform: translateY(-1.25rem);
      -ms-transform: translateY(-1.25rem);
          transform: translateY(-1.25rem);
}

.form-registration__name-telegram::-webkit-input-placeholder, .form-registration__name-instagram::-webkit-input-placeholder {
  -webkit-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
}

.form-registration__name-telegram::-moz-placeholder, .form-registration__name-instagram::-moz-placeholder {
  transform: translateY(-0.75rem);
}

.form-registration__name-telegram:-ms-input-placeholder, .form-registration__name-instagram:-ms-input-placeholder {
  -ms-transform: translateY(-0.75rem);
      transform: translateY(-0.75rem);
}

.form-registration__name-telegram::-ms-input-placeholder, .form-registration__name-instagram::-ms-input-placeholder {
  -ms-transform: translateY(-0.75rem);
      transform: translateY(-0.75rem);
}

.form-registration__name-telegram::placeholder,
.form-registration__name-instagram::placeholder {
  -webkit-transform: translateY(-0.75rem);
      -ms-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.form-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.form-registration__group {
  position: relative;
}

body::after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: -webkit-gradient(linear, left top, right top, from(#292f3f), to(#414345));
  background: linear-gradient(90deg, #292f3f 0%, #414345 100%);
  padding: 1.5rem;
  width: 100%;
  max-width: 31rem;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.5625rem;
  right: 1.5625rem;
  cursor: pointer;
  z-index: 5;
}

.popup__close span,
.popup__close::before,
.popup__close::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}

.popup__close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-item__content {
  max-width: 36.25rem;
}

.popup-item__icon {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.3636363636;
}

.popup-item__icon:not(:last-child) {
  margin-bottom: 0.2727272727em;
}

.popup-item__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.3636363636;
  color: #fff;
}

.popup-item__title:not(:last-child) {
  margin-bottom: 0.5454545455em;
}

.popup-item__text {
  line-height: 1.5;
}

._popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._popup-label {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 0.9444444444;
  text-align: center;
  color: #f7fcff;
}

._popup-text {
  max-width: 21.875rem;
  line-height: 1.0625;
  text-align: center;
}

._popup-button {
  width: 100%;
  max-width: 19.25rem;
}

.log-in-popup__label {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
}

.log-in-popup__label:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.log-in-popup__button {
  line-height: 1.0625;
  color: #f7fcff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-log-in-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.form-log-in-popup:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form-log-in-popup__group {
  position: relative;
}

.reset-popup__label {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
}

.reset-popup__label:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.reset-popup__button {
  line-height: 1.0625;
  color: #f7fcff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-reset-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.form-reset-popup:not(:last-child) {
  margin-bottom: 1.25rem;
}

.failed-popup__content {
  gap: 1.25rem;
}

.submitted-popup__label {
  max-width: 21.875rem;
}

.submitted-popup__label:not(:last-child) {
  margin-bottom: 3.8888888889em;
}

.sent-popup__content {
  gap: 1.25rem;
}

.not-sent-popup__content {
  gap: 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

@supports (padding-top: clamp( 0.0000000625rem , 8.5207099797rem  +  -17.7514789941vw , 3.75rem )) {
  .header {
    padding-top: clamp( 0.0000000625rem , 8.5207099797rem  +  -17.7514789941vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , 8.5207099797rem  +  -17.7514789941vw , 3.75rem )) {
  .header {
    padding-top: calc(3.75rem + -3.7499999375 * (100vw - 26.875rem) / 21.125);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu {
  position: relative;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.1875rem;
  padding: 0.5rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__body._user-menu {
  gap: 0.9375rem;
}

.menu__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.75rem;
}

.menu-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
}

.menu-list__item {
  line-height: 1.5;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu-list__item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.menu-list__log-in {
  opacity: 0.6;
  -webkit-transition: color 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: color 0.3s ease 0s, opacity 0.3s ease 0s;
}

.menu-list__log-in:hover {
  opacity: 1;
  color: #fff;
}

.menu-list__user {
  -webkit-transition: color 0.3s ease 0s, border 0.3s ease 0s;
  transition: color 0.3s ease 0s, border 0.3s ease 0s;
  line-height: 1.5;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 1rem 0.625rem;
}

.menu-list__user:hover {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.social-menu__link {
  -webkit-transition: -webkit-filter 0.3s ease 0s;
  transition: -webkit-filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
}

.social-menu__link:hover {
  -webkit-filter: brightness(2.5);
          filter: brightness(2.5);
}

.app-menu {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.app-menu:hover {
  opacity: 0.6;
}

.app-menu img {
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.footer__body {
  border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.footer__copy {
  display: block;
  margin-top: 2.375rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: right;
}

@supports (padding-top: clamp( 5.5rem , 21.6893491124rem  +  -33.7278106509vw , 12.625rem )) {
  .main {
    padding-top: clamp( 5.5rem , 21.6893491124rem  +  -33.7278106509vw , 12.625rem );
  }
}

@supports not (padding-top: clamp( 5.5rem , 21.6893491124rem  +  -33.7278106509vw , 12.625rem )) {
  .main {
    padding-top: calc(12.625rem + -7.125 * (100vw - 26.875rem) / 21.125);
  }
}

.main__title {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
}

.main__title:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.no-webp .body-main{
  background: url("../img/bg.jpg") no-repeat left center/cover; }

.body-main {
  position: relative;
  border-radius: 27px;
  padding-top: 12.8125rem;
  padding-bottom: 2.875rem;
  padding-left: 2rem;
}

.body-main::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 27px;
  background-color: rgba(0, 0, 0, 0.3);
}

.body-main__title {
  position: relative;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
}

.body-main__title:not(:last-child) {
  margin-bottom: 1.5em;
}

.body-main__text {
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 29.875rem;
}

.youzayou {
  padding-top: 1.5rem;
}

.youzayou__container {
  position: relative;
}

.body-youzayou {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20.3125rem, 1fr));
}

@supports (gap: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 1.5rem )) {
  .body-youzayou {
    gap: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 1.5rem );
  }
}

@supports not (gap: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 1.5rem )) {
  .body-youzayou {
    gap: calc(1rem + 0.5 * (100vw - 48rem) / 14);
  }
}

.body-youzayou__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5625rem;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  text-align: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.body-youzayou__item:hover {
  -webkit-transform: scale(0.925);
      -ms-transform: scale(0.925);
          transform: scale(0.925);
}

.body-youzayou__icon {
  font-size: 1.375rem;
  line-height: 1.3636363636;
}

.body-youzayou__icon:not(:last-child) {
  margin-bottom: 0.2727272727em;
}

.body-youzayou__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.3636363636;
  color: #fff;
}

.body-youzayou__title:not(:last-child) {
  margin-bottom: 0.5454545455em;
}

.body-youzayou__text {
  font-weight: 300;
  line-height: 1.46875;
}

.participants {
  padding-top: 1.5rem;
}

.participants__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.3636363636;
  text-align: center;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  padding-top: 1.5rem;
}

.participants__title:not(:last-child) {
  margin-bottom: 1.0909090909em;
}

.body-participants {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20.3125rem, 1fr));
}

@supports (gap: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 1.5rem )) {
  .body-participants {
    gap: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 1.5rem );
  }
}

@supports not (gap: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 1.5rem )) {
  .body-participants {
    gap: calc(1rem + 0.5 * (100vw - 48rem) / 14);
  }
}

.item-body-participants {
  padding: 1.5625rem;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.item-body-participants:hover {
  -webkit-transform: scale(0.925);
      -ms-transform: scale(0.925);
          transform: scale(0.925);
}

.item-body-participants__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.item-body-participants__content:not(:last-child) {
  margin-bottom: 1rem;
}

.item-body-participants__text {
  line-height: 1.5;
  color: #8f96ac;
}

.item-body-participants__link {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
}

.registration {
  padding-top: 2.375rem;
  padding-bottom: 1.5rem;
}

.registration__title {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
}

.registration__title:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.body-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.25rem;
}

@supports (gap: clamp( 3.125rem , -0.6724683544rem  +  7.9113924051vw , 6.25rem )) {
  .body-registration {
    gap: clamp( 3.125rem , -0.6724683544rem  +  7.9113924051vw , 6.25rem );
  }
}

@supports not (gap: clamp( 3.125rem , -0.6724683544rem  +  7.9113924051vw , 6.25rem )) {
  .body-registration {
    gap: calc(3.125rem + 3.125 * (100vw - 48rem) / 39.5);
  }
}

.content-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-registration__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.5;
  color: #fff;
}

.content-registration__title:not(:last-child) {
  margin-bottom: 2.3636363636em;
}

.content-registration__text {
  max-width: 35.625rem;
  line-height: 1.5;
}

.content-registration__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.congratulations {
  padding-top: 1.5rem;
}

.congratulations__title {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
}

.congratulations__title:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.congratulations__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5625rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.congratulations__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-congratulations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-congratulations__block {
  height: 4.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5625rem 1rem 1.5625rem 1.5625rem;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.02);
}

.item-congratulations__text {
  line-height: 1.5;
  color: #fff;
}

.item-congratulations__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.item-congratulations__value {
  font-weight: 400;
  font-size: 1.25rem;
}

.content-congratulations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-congratulations__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.content-congratulations__title:not(:last-child) {
  margin-bottom: 0.7272727273em;
}

.content-congratulations__text {
  max-width: 36.75rem;
  line-height: 1.5;
  text-align: center;
}

.content-congratulations__text:not(:last-child) {
  margin-bottom: 2.1875em;
}

.content-congratulations__balance {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 1rem 1.0625rem 1rem 0.625rem;
}

.content-congratulations__balance::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 96%;
  border-radius: 20px;
  background-color: #383b43;
  z-index: -1;
}

.content-congratulations__balance::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(158, 225, 236)), to(rgb(57, 229, 129)));
  background: linear-gradient(90deg, rgb(158, 225, 236) 0%, rgb(57, 229, 129) 100%);
  z-index: -2;
}

.content-congratulations__value {
  line-height: 1.5;
  color: #fff;
}

.invite {
  padding-top: 1.5rem;
}

.invite__title {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
}

.invite__title:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.invite__copy {
  position: relative;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.02);
}

.invite__text {
  cursor: pointer;
  line-height: 1.5;
  color: #fff;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.invite__text:hover {
  opacity: 0.6;
}

.invite__button {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  position: absolute;
  right: 1rem;
}

.invite__button:hover {
  opacity: 0.6;
}

.friends {
  padding-top: 1.5rem;
}

.friends__title {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.8333333333;
  color: #fff;
}

.friends__title:not(:last-child) {
  margin-bottom: 1.1666666667em;
}

.friends__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.friends__body:not(:last-child) {
  margin-bottom: 1.5rem;
}

.friends__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding-bottom: 1.75rem;
}

.item-friends {
  max-width: 44.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.3125rem , -1.6666666667rem  +  6.5972222222vw , 1.5rem )) {
  .item-friends {
    gap: clamp( 0.3125rem , -1.6666666667rem  +  6.5972222222vw , 1.5rem );
  }
}

@supports not (gap: clamp( 0.3125rem , -1.6666666667rem  +  6.5972222222vw , 1.5rem )) {
  .item-friends {
    gap: calc(0.3125rem + 1.1875 * (100vw - 30rem) / 18);
  }
}

.item-friends__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-friends__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5625rem;
}

@supports (gap: clamp( 1.25rem , 0.0434782609rem  +  4.0217391304vw , 3.5625rem )) {
  .item-friends__content {
    gap: clamp( 1.25rem , 0.0434782609rem  +  4.0217391304vw , 3.5625rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.0434782609rem  +  4.0217391304vw , 3.5625rem )) {
  .item-friends__content {
    gap: calc(1.25rem + 2.3125 * (100vw - 30rem) / 57.5);
  }
}

.item-friends__value {
  color: #fff;
}

.item-friends__email {
  line-height: 1.5;
  color: #fff;
}

.item-friends__executed {
  text-transform: uppercase;
  color: #40b66b;
}

.item-friends__bonus {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
}

.tasks {
  padding-top: 1.5625rem;
  padding-bottom: 8.125rem;
}

.tasks__container {
  min-height: 13.1875rem;
}

.tasks__text {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5;
}

.tasks__text span {
  color: #fff;
}

@media (min-width: 29.99875em) {
  .form-log-in-popup {
    max-width: 19.25rem;
  }

  .form-reset-popup {
    max-width: 19.25rem;
  }

  .friends__button {
    max-width: 11.25rem;
  }
}

@media (min-width: 47.99875em) {
  .form-registration {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 308px;
            flex: 0 0 308px;
  }

  .form-registration__group-sub {
    display: none;
  }

  .content-registration {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 616px;
            flex: 0 1 616px;
  }

  .content-registration__text:not(:last-child) {
    margin-bottom: 8.25em;
  }

  .congratulations__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 419px;
            flex: 0 0 419px;
  }

  .item-congratulations__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 308px;
            flex: 0 0 308px;
  }

  .item-congratulations-sub {
    display: none;
  }

  .content-congratulations {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

@supports (margin-bottom: clamp( 2.1875rem , -8.8251582278rem  +  22.9430379747vw , 11.25rem )) {
    .content-congratulations__balance:not(:last-child) {
      margin-bottom: clamp( 2.1875rem , -8.8251582278rem  +  22.9430379747vw , 11.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , -8.8251582278rem  +  22.9430379747vw , 11.25rem )) {
    .content-congratulations__balance:not(:last-child) {
      margin-bottom: calc(2.1875rem + 9.0625 * (100vw - 48rem) / 39.5);
    }
}

  .item-friends__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 640px;
            flex: 0 1 640px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.02);
    padding: 1rem;
  }

  .item-friends__executed {
    margin-right: 1.75rem;
  }
}

@media (min-width: 87.5em) {
  .menu {
    margin-right: -11.25rem;
  }

  .footer__copy {
    margin-right: -11.5rem;
  }
}

@media (max-width: 61.99875em) {
  .congratulations__body {
    gap: 2rem;
  }
}

@media (max-width: 47.99875em) {
  .button-action {
    max-width: none;
    padding: 1.0625rem 0.5625rem;
  }

  .menu__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5625rem;
  }

  .menu__body._user-menu {
    gap: 1.5625rem;
  }

  .menu__action {
    gap: 3.8125rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 0.8888888889em;
  }

  .body-main__title:not(:last-child) {
    margin-bottom: 0.8em;
  }

  .youzayou {
    padding-top: 1rem;
  }

  .participants {
    padding-top: 1rem;
  }

  .participants__title {
    padding-top: 1rem;
  }

  .participants__title:not(:last-child) {
    margin-bottom: 0.7272727273em;
  }

  .item-body-participants__content:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .registration {
    padding-top: 1rem;
  }

  .registration__title:not(:last-child) {
    margin-bottom: 0.4444444444em;
  }

  .body-registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .content-registration__title:not(:last-child) {
    margin-bottom: 0.9090909091em;
  }

  .congratulations {
    padding-top: 1rem;
  }

  .congratulations__title:not(:last-child) {
    margin-bottom: 0.4444444444em;
  }

  .congratulations__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .congratulations__items {
    max-width: 24.875rem;
    width: 100%;
  }

  .item-congratulations {
    gap: 0.625rem;
  }

  .item-congratulations__block {
    max-width: 19.25rem;
    width: 100%;
  }

  .item-congratulations__bonus {
    gap: 0.5rem;
  }

  .content-congratulations__title {
    text-align: start;
  }

  .content-congratulations__text {
    text-align: start;
  }

  .content-congratulations__text:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .invite {
    padding-top: 1.25rem;
  }

  .friends__body {
    gap: 1.125rem;
  }

  .friends__action {
    padding-bottom: 1.25rem;
  }

  .item-friends {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.02);
    padding: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .item-friends__block {
    gap: 0.625rem;
    width: 100%;
  }

  .tasks {
    padding-bottom: 5.3125rem;
  }
}

@media (max-width: 29.99875em) {
  .popup__content {
    padding: 1.5rem 1rem;
  }

  .popup-item__content {
    max-width: 20.3125rem;
  }

  .no-webp .body-main{
    background: url("../img/bg-mob.jpg") no-repeat left center/cover; }

  .body-main {
    padding-bottom: 1.8125rem;
    padding-left: 0.375rem;
  }

  .body-youzayou {
    justify-items: center;
  }

  .body-youzayou__item {
    max-width: 20.3125rem;
  }

  .body-participants {
    justify-items: center;
  }

  .item-body-participants {
    max-width: 20.3125rem;
  }

  .content-congratulations__button {
    margin-top: 0.25rem;
  }
}

@media (any-hover: hover) {
  .popup__close:hover::before,
  .popup__close:hover::after {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .log-in-popup__button:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .reset-popup__button:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.webp .body-main{ background: url(../img/bg.webp) no-repeat left center/cover; }

@media (max-width: 29.99875em){

  .webp .body-main{ background: url(../img/bg-mob.webp) no-repeat left center/cover; }
}